{% extends "layout.html" %}
{% block body %}
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<form class="login100-form validate-form" action="/signin">
					<span class="login100-form-title p-b-33">
							STUDENT PANEL
					</span>
					<div class="container-login100-form-btn m-t-20">
						<button class="login100-form-btn" type="submit">
							VIEW ATTENDANCE
						</button>
					</div>
				</form>	
				<form class="login100-form validate-form" action="/signin">
					<div class="container-login100-form-btn m-t-20">
						<button class="login100-form-btn" type="submit">
							LOGOUT
						</button>
					</div>
				</form>	
				
				
					
			
				
			</div>
		</div>
	</div>
	

	

{% endblock %}